@import "reset";
@import "homepage";
@import "product";


.container{
	max-width: 1110px;
	margin: 0 auto;
}
.header{
        @include between;
        align-items: center;
        padding-top: 9px;
        padding-bottom: 9px;
        ul{
            display: flex;
            @include h4(gray);
            li{
                @include center;
            }
            .material-icons{
                margin-left: 31px;
            }
            a{
                color: #8D8D8D;
                text-decoration: none;
            }
        }
    }

.menu{
    background-color: #916000;
    ul{
        display: flex;
        @include h4(#FFFFFF);
        li{
            padding: 14px 28px 14px 0;
        }
    }
}


.log{
    margin: 80px auto;
    display: flex;
    img{
        max-width: 730px;
        max-height: 730px;
        margin-right: 30px;
    }
    h2{
        @include h2(#000000);
        margin-top: 211px;
    }
    p{
        @include p(#000000);
        margin-top: 12px;
    }
    .sign{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 36px;
        p{
            @include p(#916000);
        }
        .write a{
            @include p(#916000);
            background: #FFFFFF;
            border: 1px solid #916000;
            border-radius: 5px;
            padding: 8px 16px 8px 17px;
            margin-left: 147px;
            text-decoration: none;
        }
        .write a:hover{
            @include p(#FFFFFF);
            background: #916000;
            border: 1px solid #FFFFFF;
        }
        .in a{
            @include p(#FFFFFF);
            background: #916000;
            border: 1px solid #FFFFFF;
            border-radius: 5px;
            padding: 8px 16px 8px 17px;
            margin-left: 8px;
            text-decoration: none;
        }
        .in a:hover{
            @include p(#FFFFFF);
            background: #6C4700;
            border: 1px solid #6C4700;
        }
    }
}

.footer{
    background: #916000;
    .foot{
        display: flex;
        img{
            margin-top: 20px;
            margin-bottom: 22px;
        }
        .word{
            @include between;
            align-items: center;
            color: #FFFFFF;
            p{
                padding-left: 20px;
                padding-right: 500px;
                font-size: 16px;
            }
            ul{
                display: flex;
                font-size: 24px;
                @include h4 (#FFFFFF);
                li{
                    padding-left: 36px;
                }
                a{
                    @include h4 (#FFFFFF);
                    text-decoration: none;
                }
            }
        }
    }
}